body {
    background: linear-gradient(45deg, red, green);
    background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: #fff;
}

p {
  
  text-align: center;
  color: #fff;
}

.actions {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

button  {
  padding: 15px 40px;
  outline: none;
  border: none;
  border-radius: 30px;
  background-color: blue;
  color: #fff;
  font-size: 16px;
}

.root_before {
  display: none;
}
.root {
  display: grid;
  grid-template-columns: repeat(5, 110px);
  gap: 20px;
  justify-content: center;
}

.img_block {
    width: 110px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(250, 232, 205);
    transition: transform 1000ms;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    cursor: pointer;
}

.flipped {
    transform: rotateY(180deg);
    transition: 500ms all ease;
}

.img_block:active {
  transform: rotateY(0deg);
    transition: 500ms all ease;
}

.img_block::after {
  content: "";
  background-image: url(../img/img-in-back-of-card.png);
  background-repeat: no-repeat;
  background-size: 100% 160px;
  width: 110px;
  height: 160px;
  border-radius: 20px;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(0deg);
}

.img_block img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
